.forum
{
	margin: auto;
	border-style: solid;
}
.header_forum
{
text-align: center;

}
.header-title {
	background-image: url("img/titre2.png"); 
	background-size: cover;
	height: 500px;
	width: 100% 100%
}
.btn {
	
}
