

h1 {
	font-size: 1rem;
	text-align: center;
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} 
}
 
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;}   
}

body {
	font-size: 0.3rem;
}
@media (min-width: 544px) {  
 body {font-size:0.5rem;}
}
 
@media (min-width: 768px) {  
  body {font-size:0.8rem;} 
}
 
@media (min-width: 992px) { 
  body {font-size:1rem;}
 
@media (min-width: 1200px) {  
  body {font-size:1.5rem;}
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: grey;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.home_img{
	background-image: url('img/melanie-wasser-233297-unsplash.jpg');
	/*background-size: contain;*/
	background-repeat: no-repeat;
    width:100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.home_page {
	text-align: center;
    font-family: 'Lora', serif;
    font-size: 13px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	position: fixed;
	height: auto:*;

}

.home_nav {
	background: black;
	padding-top: 70px;
	
}
.nav a {
	color:white;

}
.present_forum {
	padding-top: 50px;
	background: #816c6399;
	opacity: 0.5;
	color: black;

}
.home_btn{
	margin-top: 500px;
	margin-left: center;
}



 .forum_topics{
	
    background-color: white;   

}


.table a {
	color: black;
}
body {
	font-family: 'Lora', serif;
    font-size: 15px;
}



._page{
	/*background-image: url('img/gold.jpg');*/
	background-color: black;
}
.categories_table{
	background-color: white;
	margin-top: 20px;
}
.header_categories_table{
	
	background-color: black;
}
.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url('img/gold.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.white{
	color: white;
}



